html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

head {
  display: none;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: lato, sans-serif;
  display: block;
}

h1 {
  text-align: center;
  font-family: monospace;
  color: black;
  text-transform: uppercase;
  font-family: libre Baskerville, serif;
  font-size: 3rem;

}

.poster {
  
}

p {
  text-align: left;
}



.card-title {
  color: red;
  text-transform: uppercase;
  font-family: libre Baskerville, serif;
  font-size: 2rem;
}

.site-header {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  z-index: 9999;
  -webkit-transform: 3s ease-in-out;
}

#page {
  position: relative;
  word-wrap: break-word;
}

* {
  box-sizing: inherit;
}

.site-header:after {
 clear: both;
}